@import 'fonts.css';

/* Root start */

:root {
    --mb: 'Montserrat-Bold';
    --mr: 'Montserrat-Regular';
    --gray:#E1E1E1;
    --black:#323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mr);
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Root end */

/* Header start */


.header__nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 12px 20px 12px;
    border-bottom: 2px solid var(--black);
}

.header__nav-title {
    color: var(--black);
    font-family: var(--mb);
    font-size: 32px;
    line-height: 23px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav-link {
    color: var(--black);
    font-size: 18px;
    line-height: 122%;
}

.header__nav-icon {
    margin-right: 15px;
}

/* Header end */