@import 'fonts.css';

/* Root start */

:root {
    --mb: 'Montserrat-Bold';
    --mr: 'Montserrat-Regular';
    --gray: rgb(225, 225, 225);;
    --black:#323232;
    --white: rgb(241, 241, 241);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mr);
    background: var(--white);
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Root end */

/* Header start */


.header__nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 12px 20px 12px;
    border-bottom: 2px solid var(--black);
}

.header__nav-title {
    color: var(--black);
    font-family: var(--mb);
    font-size: 32px;
    line-height: 23px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav-link {
    color: var(--black);
    font-size: 18px;
    line-height: 122%;
}

.header__nav-icon {
    margin-right: 15px;
}

.header__content-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(294px, auto);
    gap: 25px;
    margin: 40px 0 60px 0;
    padding: 0 12px 0 12px;
}

.item2 {
    grid-row: span 2;
}

.header__content-box {
    display: flex;
    align-items: center;
}

.header__content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--gray);
    box-shadow: 6px 6px 16px 0px #8484844D;
}

.header__box-right {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__box-text {
    color: var(--black);
    font-size: 16px;
    line-height: 125%;
}

.header__box-title {
    color: rgb(0, 0, 0);
    font-family: var(--mb);
    font-size: 16px;
    line-height: 125%;
    margin: 15px 0 15px 0;
}

.header__content-sale1,
.header__content-sale2,
.header__content-sale3 {
    position: relative;
}

.header__content-sale1::before {
    content: '50%';
}

.header__content-sale2::before {
    content: '50%';
}

.header__content-sale3::before {
    content: '20%';
}

.header__content-sale1::before,
.header__content-sale2::before,
.header__content-sale3::before {
    color: var(--gray);
    font-size: 22px;
    line-height: 122%;
    border-radius: 10px;
    background: var(--black);
    padding: 10px 35px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 3;
}

/* Header end */

/* Main start */

.main__title {
    color: rgb(0, 0, 0);
    font-family: var(--mr);
    font-size: 30px;
    font-weight: 400;
    line-height: 123%;
    letter-spacing: 2.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--black);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.main__section-sales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(485px, auto);
    gap: 25px;
    margin: 0 12px 0 12px;
}

.main__sales-item {
    border-radius: 10px;
    background: var(--gray);
    box-shadow: 6px 6px 15px 0px #8484844D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__sales-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main__sales-text {
    color: var(--black);
    font-size: 20px;
    line-height: 120%;
}

.main__sales-title {
    color: rgb(0, 0, 0);
    font-family: var(--mb);
    font-size: 20px;
    line-height: 120%;
}

.main__sales-icons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.main__sales-icon {
    display: flex;
    border-radius: 10px;
    background: var(--white);
    padding: 15px;
}

/* Main end */